.app {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.body {
  display: flex;
  flex: 1;
  min-height: 0;
}

.main {
  flex: 1;
  overflow: auto;
  padding: 1rem;
  /* min-width: 0; */
}