.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  /*background: #212121;        /* fondo oscuro */
  color: #fafafa;             /* texto claro */
  border-bottom: 3px solid #ff9800; /* detalle naranja Last War */
}

.left {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
}

.right {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 0.9rem;
  line-height: 1.2;
}

.date { opacity: 0.85; }
.time { font-weight: 600; }